<div class="container">
    <div class="row">
        <div class="col s6">
            <h3>Sign In</h3>
            {{>signinForm}}
        </div>
        <div class="col s6">
            <h3>Sign Up</h3>
            {{>signupForm}}
        </div>
    </div>
</div>